.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 45px;
    font-size: 30px;
    background: #343538;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
    z-index: 2;
}

.back-to-top:hover {
    background: #676768;
}