@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

.login-global-container {
  display: flex;
  flex-direction: column;
}

.login-header {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.login-header-title {
  font-family: Arimo;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.login-header-info {
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1a1a;
}

.login-main-container {
  display: flex;
  padding: 50px 5%;
}

.login-login-section,
.login-register-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 5%;
}

.login-register-title {
  font-family: Arimo;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
  color: #1a1a1a;
}

.login-input {
  font-family: Arimo;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #4d4d4d;
  margin: 10px 0;
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #cecece;
}

.login-input-pass-container {
  font-family: Arimo;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #4d4d4d;
  margin: 10px 0;
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #cecece;
}

.login-input-pass {
  border: none;
  width: 90%;
}

.login-input:focus,
.login-input-pass:focus {
  outline: none;
}

.login-eye {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.login-checkbox {
  display: flex;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.login-customer {
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  display: inline;
  margin-right: 20px;
}

#remember-me {
  height: 15px;
  width: 15px;
  margin-top: 5px;
}

.login-customer-input {
  margin-right: 5px;
}

.login-forgot {
  color: #d25b5b;
  cursor: pointer;
}

.login-button {
  font-family: Arimo;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background: #1a1a1a;
  width: 100px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.login-button:hover {
  background: #2b2b2b;
}

.login-button:active {
  background: #1a1a1a;
}

/* TOAST */

#toast {
  visibility: hidden;
  min-width: 350px;
  /* margin-left: -125px; */
  background-color: rgb(173, 39, 39);
  color: rgb(255, 255, 255);
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  /* left: 50%; */
  bottom: 30px;
}
.toast-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

#toast-success {
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#toast-failed {
  /* color: rgb(255, 0, 0); */
  font-family: "Rubik";
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}
.toast-header {
  background: #fcfcfc;
}

#toast.show,
#toast-failed {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.snackbar-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
#snackbar {
  visibility: hidden;
  min-width: 350px;
  /* margin-left: -125px; */
  background-color: rgb(254, 254, 254);
  /* color: rgb(255, 0, 0); */
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 28px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  /* left: 50%; */
  bottom: 30px;
}
#snackbar.show,
#toast-failed {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* TOAST */

 #toast {
  visibility: hidden;
  min-width: 350px;
  margin-left: -125px;
  background-color: rgb(254, 254, 254);
  /* color: rgb(255, 0, 0); */
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#toast-success {
  /* color: rgb(0, 146, 19); */
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#toast-failed {
  /* color: rgb(255, 0, 0); */
  font-family: "Rubik";
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}
.toast-header{
  background: #fcfcfc;
}

#toast.show,
#toast-failed {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar {
  visibility: hidden;
  min-width: 350px;
  margin-left: -125px;
  background-color: rgb(254, 254, 254);
  /* color: rgb(255, 0, 0); */
  font-family: Arimo;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#snackbar.show,
#toast-failed {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
} 
@media (max-width: 640px) {
  .login-main-container {
    flex-direction: column;
  }
}
