@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Open+Sans:ital,wght@0,400;1,700&family=Playfair+Display&display=swap');

*{
    font-family: 'Arimo', sans-serif;;
}

.hm-content-banner-wrapper{
    background-image: url(../../assets/img/background-1.png);
    width: 100%;
    height: 800px;
    background-position: 50% 50%;
    background-size: cover;
    padding: 20% 20%;
}


.hm-banner-title{
    font-weight: 700px;
    font-size: 76px;
    text-align: center;
}

.hm-banner-body{
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    font-weight: 400px;
}

.hm-banner-content-footer{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hm-banner-footer{
    text-align: center;
}

.hm-main-content{
    display: flex;
}

.hm-product-image{
    width: 150%;
    height: 500px;
}

.hm-product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hm-product-desc{
    padding: 4% 10%;
    /* margin-left: 20%; */
}

.hm-product-desc-title{
    font-weight: 400;
    font-size: 56px;
    line-height: 64.39px;
}

.hm-product-desc-body{
    font-size: 16px;
    line-height: 37px;
}

.hm-product-desc-footer-wrapper{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.underline-main{
    border-bottom: 3px solid black;
    width: 60px;
    margin-right: 3%;
}

.hm-product-desc-footer{
    font-weight: 700;
    font-size: 16px;
}

.hm-footer-wrapper{
    width: 100%;
    height: 100%;
    background-color: #161616;
    padding: 5%;
}

.hm-footer-body{
    text-align: center;
    color: #FFFFFF;
    padding: 5% 20%;
}

.hm-footer-desc{
    font-weight: 400;
    font-size: 28px;
    line-height: 55px;
    font-family: 'Playfair Display', serif;
}

.underline-footer{
    border-bottom: 2px solid white;
    margin: 0 45%;
}

.hm-footer-desc-footer{
    padding-top: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.hm-footer-footer{
    display: flex;
    justify-content: space-evenly;
}

.hm-footer-footer img{
    width: 100px;
    height: 100px;
}

@media (max-width:1024px){
    /* .hm-content-banner-wrapper{
        background-image: url(../../assets/img/background-1.png);
        width: 100%;
        height: 800px;
        background-position: 50% 50%;
        background-size: cover;
        padding: 20% 20%;
    } */
    
}
@media (max-width:768px){
    .hm-main-content{
        display: flex;
        flex-direction: column;
    }
    .hm-product-image{
        width: 100%;
        height: 500px;
    }
    
}