.login-header {
  background-color: #ececec;
}

.profile-seller-navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 70px 15% 0px 15%;
  font-family: Arimo;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.profile-seller-navbar a:hover{
  text-decoration: none;
}

.profile-seller-navbar-active {
  color: #1a1a1a;
  border-bottom: 1px solid #c2c2c2;
}

.profile-seller-navbar-inactive {
  color: #b4b4b4;
}

.profile-seller-navbar-inactive,
.profile-seller-navbar-active {
  padding: 5px;
  cursor: pointer;
}

.profile-main-container {
  display: flex;
  flex-direction: column;
  padding: 100px 15%;
}

.profile-profpic-name-container {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile-picture-edit {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-family: Arimo;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
}

.profile-picture-edit-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #777777;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.profile-picture-edit:hover {
  opacity: 100%;
}

.profile-pencil-icon {
  margin-left: 5px;
}

.profle-name-container {
  margin-left: 30px;
}

.profile-name {
  font-family: Arimo;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  cursor: default;
}

.profile-role {
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
}

.profile-input-all-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.profile-input-container {
  display: flex;
  border-bottom: none;
  justify-content: space-between;
  border: 1px solid #d1d1d1;

  padding: 30px;
}

.profile-input-label {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: left;
  color: #4d4d4d;
}

.profile-input {
  width: 100%;
  font-family: Arimo;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #1a1a1a;
  border: none;
}
.profile-input:disabled{
  cursor: default;
}

.profile-input:focus{

  outline: none;
  border-bottom: 2px solid #1a1a1a;
}

.profile-input-edit {
  font-family: Arimo;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-logout-button {
  width: 200px;
  height: 50px;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #d94141;
  color: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.profile-logout-button:hover {
  background: #d63030;
}

.profile-logout-button:active {
  background: #d94141;
}

.profile-logout-pict {
  margin: 10px;
}
.profile-save-button{
  width: 200px;
  height: 50px;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #3c3c3c;
  color: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.profile-save-button:hover {
  background: #2b2b2b;
}

.profile-save-button:active {
  background: #1a1a1a;
}