@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Open+Sans:ital,wght@0,400;1,700&family=Playfair+Display&display=swap');

* {
    font-family: 'Arimo', sans-serif;
    ;
}


.pd-banner-img-background {
    width: 100%;
    height: 300px;
    /* background-image: url(../../assets/img/banner-product.png); */
    background-position: 50% 50%;
    background-size: cover;
    padding: 5% 5%;
    /* opacity: 5%; */
}

.pd-banner-content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pd-banner-content-body h1 {
    font-weight: 400;
    font-size: 56px;
}

.container-main-content {
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
}

.pd-main-content-left {
    flex: 1;
}
.pd-category-left-content{
    margin-bottom: 20px;
}
.pd-price-left-content{
    margin-bottom: 20px;
}

.pd-category-title {
    font-family: Arimo;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 15px;
}

.pd-main-content-right {
    flex: 3;
}

.pd-main-content-category-value {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    /* margin: 20% 5%; */
}

.pd-button-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.input-brands-left-content {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.product-brand-input{
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-right: 10px;
}

.product-brand-label{
    width: 80%;
    margin-bottom: 0;
}

/* RIGHT CONTENT */

.pd-main-content-right {
    margin: 0% 10%;

}

.pd-main-header-right {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
}

.card-product{
    margin: 10px 0;
    border: none;
}

.card-product-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}