.co-header {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #ececec;
  padding: 5%;
}
.co-header-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.co-header-title {
  font-family: Arimo;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 15px;

}

.co-header-info {
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #1A1A1A;

}
